/* :host {
  display: block;
  width:100%;
  height: 100%;
  position: relative;
}

:host > div {
  z-index: 1000;
} */
/* 
#top-right {
  position:absolute;
  top: 10px;
  right: 10px;
  width:30px;
  min-height: 50px;
  background-color: #f2f2f2;
  border-radius: 8px;
  border: 1px solid darkgray;
  z-index: 1000;
} */

/* #top-right > div {
  margin: 4px;
  text-align: center;
  cursor: pointer;
} */

/* ::slotted([slot=top-left]) {
  position:absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
} */

/* ::slotted([slot=bottom-left]) {
  position:absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
}

::slotted([slot=bottom-right]) {
  position:absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

::slotted([slot=bottom]) {
  position:absolute;
  bottom: 10px;
  margin:auto;
  z-index: 1000;
}

.item-selected {
  background-color: #ff0000;  
}
 */







